body {
    margin: auto 0;
}

header {
    box-sizing: border-box;
    position: relative;
    background-color: #6D8E90;
    height: 500px;
    display: block;
}
/* ----learning landing page---- */
.learning-main {
    display: block;
    margin-top: -20px;
    height: 100vh;
    background-color: #EFDBB4;
}


/* -----about landing page----- */
#about-id {
    display: block;
    margin-top: -20px;
    height: 100vh;
    background-color: #7D87A0;
}


/* -----contact landing page-----  */
#contact-id {
    display: block;
    margin-top: -20px;
    height: 100vh;
    background-color: #A97950;
}

.name {
    display: inline-block;
    margin-top: 0;
    position: relative;
    font-weight: 900;
    font-size: 100px;
    width: 70%;
    text-align: center;
    color: #D1DBDB;
    margin: 50px 100px;
}
.ari {
    font-size: 1.2em;
    top: 100px;
    left: 100px;
    position: relative;
}

nav {
    align-items: center;
    font-size: 2.5em;
}

ul {
    margin-left:20%;
    position: relative;
    top: 150px;
}
a {
    text-decoration: none;
    color: #3C4B72;
}
li {
    letter-spacing: 10px;
    font-weight: 700;
    display: inline-block;
    margin-left: 50px;
    padding: 10px 20px;
}
/* -----When hovering on learning nav menu ----- */
#learning:hover{
    background-color:#3C4B72 ;
    color: #EFDBB4;
    text-transform: uppercase;
    border-radius: 5px;

}
/* -----When hovering on about nav menu ----- */
#about:hover{
    background-color:#3C4B72 ;
    color: #D8DBE1;
    text-transform: uppercase;
    border-radius: 5px;

}

/* -----When hovering on about nav menu ----- */
#contact:hover{
    background-color:#3C4B72 ;
    color: #CBA17D;
    text-transform: uppercase;
    border-radius: 5px;

}